name: sql_server_e2e_tests
services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    networks:
      - sqlserver_internal
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: ${MSSQL_SA_PASSWORD}
      MSSQL_PID: ${MSSQL_PID}
    ports:
      - "${SQL_PORT}:1433"
    volumes:
      - sqlserver_data:/var/opt/mssql
      - "${LOCAL_BACKUP_DIR}:/var/opt/mssql/backup"
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P $${MSSQL_SA_PASSWORD} -Q 'SELECT 1' -C -b || exit 1"]
      interval: 10s
      retries: 10
      start_period: 30s
      timeout: 5s

  db_restore:
    image: mcr.microsoft.com/mssql-tools:latest
    networks:
      - sqlserver_internal
    depends_on:
      sqlserver:
        condition: service_healthy
    environment:
      MSSQL_SA_PASSWORD: ${MSSQL_SA_PASSWORD}
      DATABASE_NAME: ${DATABASE_NAME}
      BACKUP_FILE: ${BACKUP_FILE}
    volumes:
      - ./restore-database.sh:/restore-database.sh:ro
      - "${LOCAL_BACKUP_DIR}:/var/opt/mssql/backup"
    entrypoint: ["bash", "/restore-database.sh"]
    restart: "no"

volumes:
  sqlserver_data:

networks:
  sqlserver_internal:
    driver: bridge
    internal: false